/* Global Styles */

html {
    color: #333;
    font-family: 'Roboto', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}

/* for footer placement */
#main {
    position: relative; 
    min-height: 100vh;
}

#content {
    padding: 16px;
    padding-bottom: 2.5rem; /* height of footer */
}

/* Text */

h1 {
    font-size: 32px;
    margin: 0;
}

h2 {
    font-size: 20px;
    margin: 0;
}

h1, h2 {
    font-weight: lighter;
}

p {
    font-size: 14px;
}

/* Hyperlink */

a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

/* Form */

fieldset {
    display: table;
    border: None;
}

fieldset p {
    display: table-row;
}

fieldset label {
    display: table-cell;
    font-size: 12px;
    font-weight: bold;
    padding-right: 16px;
    margin-top: 8px;
    text-transform: uppercase;
}

fieldset input {
    display: table-cell;
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-top: 8px;
    margin-right: 16px;
    border: 1px solid #BDBDBD;
} 

/* Button */

button {
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}

.button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
}

.button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
}
/* navbar */

nav {
    width: 100%;
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #4CAF50;
    color: white;
}

/* footer */

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #2f2f2f;
    height: 2.5rem;
    color: #f2f2f2;
}
